<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pharkle</title>
    <script
			  src="https://code.jquery.com/jquery-2.2.4.min.js"
			  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			  crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>Pharkle</h1>
        <div class="pharkle-game">
            <div>
                Your Name: <input type="text" class="your-name-text" />
                Opponent Name: <input type="text" class="opponent-name-text"/>
            </div>
            <div>
                <input type="button" class="roll-button" value="Roll Dice"/>
                <input type="button" class="collect-points-button" value="Collect Points">
                Total Score: <input type="text" class="total-score-text">/10,000
            </div>
            <div class="dice-holder">
                <input type="button" class="die-0, die" value="1">
                <input type="button" class="die-1, die" value="2">
                <input type="button" class="die-2, die" value="3">
                <input type="button" class="die-3, die" value="4">
                <input type="button" class="die-4, die" value="5">
                <input type="button" class="die-5, die" value="6">
            </div>
            <div>
                 Current Roll Score:<input type="text" class="current-roll-score">
            </div>
        </div>
    </div>
</div>
    
    <script src="js/EventDispatcher.js"></script>
    <script src="js/PharkleModel.js"></script>
    <script src="js/PharkleView.js"></script>
    <script src="js/PharkleController.js"></script>
    <script src="js/App.js"></script>
</body>
</html>